@model IEnumerable<AlphabetSearchResult>
@{
    Layout = "_Layout";
}
<div>
    <div class="placeholder">
        <h3 class="text-sm-center">No Result =<< /h3>
    </div>
    @if (Model != null)
    {
        <div class="list-group text-center">
            @foreach (var m in Model.OrderBy(a => a.Alphabets))
            {
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        asp-action="Index" asp-route-literals="@m.Alphabets" asp-route-countAuthors="@m.Count">@m.Alphabets <span
                    class="badge badge-primary">@m.Count</span></a>
            }
            </div>
    }
</div>