@model IEnumerable<(string,int)>
@{
    Layout = "_Layout";
}
<div class="container-fluid">
    @if (Model != null)
    {
        <div class="list-group">
            @foreach (var m in Model)
            {
                <a class="list-group-item list-group-item-action" asp-action="Index" asp-route-literals="@m.Item1">@m.Item1 - @m.Item2 @(m.Item2 > 1 ? "elements" : "element")</a>
            }
        </div>
        
    }
</div>