@model IEnumerable<Author>
@{
    ViewData["Title"] = "Authors";
    Layout = "_Layout";
}
<div>

    <div class="list-group text-center">
        <div class="placeholder"><h3 class="text-sm-center">No Result =<</h3></div>
        @if (Model != null)
        {
            @foreach (var author in Model.OrderBy(a=>a.FullName))
            {
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-action="GetBooks" asp-route-id="@author.AuthorId">@author.FullName <span class="badge badge-primary">@author.Authorships.Count()</span></a>
            }
        }

    </div>
</div>
