@model IEnumerable<Author>
@{
    ViewData["Title"] = "Authors";
    Layout = "_Layout";
}
<div class="container-fluid">

    <div class="list-group">
        <div class="placeholder"><h3 class="text-sm-center">No Result =<</h3></div>
        @if (Model != null)
        {
            @foreach (var author in Model)
            {
                <a class="list-group-item list-group-item-action" asp-action="Index" asp-route-name="@author.FullName">@author.FullName - @author.Authorships.Count() @(author.Authorships.Count() > 1 ? "Books" : "Books")</a>
            }
        }

    </div>
</div>
