[Unit]
Description=HomeLibProt: Make monthly archives
Wants=HomeLibProt.FlibustaGetMonthlyUpdate.timer

[Service]
Type=oneshot 
ExecStart=/home/HomeLibProt/HomeLibProt.CollectionManager/Scripts/FlibustaGetMonthlyUpdateFb2AndUsr.sh /srv/dev/Flibusta/Flibusta_all_local.inpx /srv/dev/Flibusta
