[Unit]
Description=HomeLibProt: Get daily updates
Wants=HomeLibProt.FlibustaGetDailyUpdate.timer

[Service]
Type=oneshot 
ExecStart=/home/HomeLibProt/HomeLibProt.CollectionManager/Scripts/FlibustaGetDailyUpdateFb2AndUsr.sh /srv/dev/Flibusta/Flibusta_all_local.inpx /srv/dev/Flibusta
