name: Main

on: pull_request

jobs:
    build_test_formatting:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup .NET
              uses: actions/setup-dotnet@v5

            - name: Setup fantomas
              run: dotnet tool install -g fantomas

            - name: Check formatting F#
              run: fantomas ./ --check

            - name: Check formatting C#
              run: dotnet format --verify-no-changes

            - name: Restore dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build --no-restore

            - name: Test
              run: dotnet test --no-build